*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: black;
    color:white;
    text-align: center;
    padding: 5%;;
}
.manager_add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

}
.manager_add label{
    display: inline-block;
}
.manager_add input{

    width: 30%;
    height: 30px;
    margin-left: 20px;
    border: none;
}