*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: black;
    color:white;
    
}
.div_mypage{
    padding: 9%;
    text-align: center;
}
.div_mypage h1{
    font-size: 60px;
}
.back{
    margin: 6% 3%;
    position: absolute;
    left:0;
    top:0;
    background-color: transparent;
}
.back:hover{
    cursor: pointer;
    filter: brightness(50%);
}
.donutchart_contain{
    z-index: 1;
    width:750px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    padding:3%;
    border-radius: 20px;
    margin-left: 14%;
}
.donutchart{
    z-index: 2;
    border-radius: 20px;
    width: 700px;
    height: 400px;
}
